@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
	backgorund-color: #eeeff0;
	font-size: 12px;
}
img, object, embed, video {
	max-width: 100%;
}
ul {
	list-style: none;
	padding: 0;
}
a {
	color: #191919;
	text-decoration: none;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}
.page {
	width: 100%;
	height: auto;
	overflow: hidden;
	min-height: 500px;
	margin: 0 auto;
}
header, footer {
	padding: 10px;
	background-color: #32a943;
	-moz-box-shadow: 0 0 5px 0 #333;
	-webkit-box-shadow: 0 0 5px 0 #333;
	box-shadow: 0 0 5px 0 #333;
	height: auto;
	overflow: hidden;
}
section {
	min-height: 350px;
}
header .logo {
	width: 55.55%;
	height: auto;
	overflow: hidden;
	float: left;
}
header .logo h1 {
	font-size: 16px;
	text-indent: -10000px;
	outline: none;
	border: none;
	background:url(../images/logo@2x.png) no-repeat;
	 background-size:161px 41px;
	height: 45px;
}
header .menu {
	float: right;
	background: #333;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	margin:10px 0 0 0;
}
header .menu a.home-icon {
	background: url(themes/default/images/icons-18-white.png) no-repeat -569px 4px;
	width: 30px;
	height: 30px;
	text-indent: -10000px;
	display: block;
}
header .menu a.home-icon:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
}
section .select-wrap {
	height: auto;
	overflow: hidden;
	width: auto;
	margin: 0 0 20px 0;
}
section .select-wrap .select-content {
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 0 0 10px 0;
}
section .select-wrap .select-content p.heading {
	font-size: 12px;
	color: #fff;
	height: 30px;
	background-color: #32a943;
	line-height: 30px;
	margin: 0;
	padding: 0 20px;
}
section .btn-wrap a {
	color: #fff;
	display: block;
	background-color: #32A943;
	border: 1px solid #dbdbdb;
	color: #fff !important;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
}
section .btn-wrap a:hover {
	background-color: #4BC25C;
}

section .sets ul.places-display {
	background: #d3d3d3;
}
section .sets ul.places-display li {
	color: #191919;
	padding: 10px 20px;
	background: #fff;
	display: block;
}
section .sets ul.places-display li em {
	float: right;
	font-style: normal;
}
section .places-wrap {
	padding: 20px;
}
section .places-wrap .place-checkin {
	width: auto;
	height: 30px;
	border: 1px solid #dbdbdb;
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	margin: 0 0 3px 0;
	overflow:hidden;
}
section .places-wrap .default {
	background: -webkit-linear-gradient(#FFFFFF, #F1F1F1);
	background: linear-gradient(#FFFFFF, #F1F1F1);
}

section .places-wrap .default em{
	display:none;
	}

section .places-wrap .oncheck {
	background: -webkit-linear-gradient(#6f6e7a, #585765);
	background: linear-gradient(#6f6e7a, #585765);
}
section .places-wrap .place-checkin a.clickable-place {
	display: block;
	color: #191919;
	line-height: 30px;
}

section .places-wrap .place-checkin a.clickable-place em{
	float:right;
	color:#eae680;
	margin:0 10px 0 0;
	font-weight:normal;
	font-style:normal
	}

section .places-wrap .place-checkin a.oncheck {
	color: #b3b2b2;
}
section .places-wrap .place-checkin a.clickable-place:hover {
	background: -webkit-linear-gradient(#f7f5f5, #d7d6d6);
	background: linear-gradient(#f7f5f5, #d7d6d6);
}
section .places-wrap .place-checkin a.oncheck:hover {
	background: -webkit-linear-gradient(#6f6e7a, #585765);
	background: linear-gradient(#6f6e7a, #585765);
}
.clickable-place.oncheck  ul li{
	float: left;
	width: 100%;
	background: -webkit-linear-gradient(#6f6e7a, #585765);
	background: linear-gradient(#6f6e7a, #585765);
}




footer p {
	text-align: center;
	color: #fff;
}
/*---------------------------------------Customized theme------------------------------------------*/

.ui-body-c, .ui-overlay-c, .ui-btn-up-c, .ui-btn-hover-c , .ui-bar-a{
	text-shadow: none !important;
}
.ui-shadow {
	box-shadow: none;
	text-shadow: none;
}
.ui-select {
	margin: 20px;
}
.ui-btn-inner {
	font-size: 12px;
	color: #191919;
}
.ui-btn-corner-all {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.ui-checkbox{

	float: left;
	margin: 0 0 0 10px;
}

.ui-checkbox input, .ui-radio input{
	margin: 7px 8px 0 0;
	position: static;
	top: 0;
	left: 0;
}

.btn-wrap .ui-btn-inner {
	background-color: #32A943;
	border: 1px solid #dbdbdb;
}
.btn-wrap .ui-btn-inner:hover {
	background-color: red;
}
.btn-wrap .ui-btn-inner .ui-btn-text {
	color: #fff;
}

.ui-li:first-child
{
    -moz-border-radius-topleft:.6em;-webkit-border-top-left-radius:.6em;border-top-left-radius:.6em;-moz-border-radius-topright:.6em;-webkit-border-top-right-radius:.6em;border-top-right-radius:.6em
}

.ui-li:last-child, .lastchecked
{
    -moz-border-radius-bottomleft:.6em;-webkit-border-bottom-left-radius:.6em;border-bottom-left-radius:.6em;-moz-border-radius-bottomright:.6em;-webkit-border-bottom-right-radius:.6em;border-bottom-right-radius:.6em;
    border-bottom-width:1px;
}

.lastchecked
{
    border: 1px solid #AAA;
}

.checkout
{
    margin-bottom: 10px;
}

.ui-loader{
	display: none !important;
}

.

/*===================================Media Queries=============================*/
@media all and (-webkit-min-device-pixel-ratio: 2) {
     .logo h1 {background-image:url(../images/logo@2x.png);

}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
         .logo h1 {background-image:url(../images/logo@2x.png);}
}